.about-page,
.about-page-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: left;
        font-size: 1.75rem;
    }
}

.about-page {
    padding: 0 2rem;
    margin-top: 5rem;

    .about-page-container {
        max-width: 80rem;
    }

    .about-page-details {
        p {
            margin-bottom: 1rem;
        }
    }
}

.about-page-review {

    .about-page-review-container {
        max-width: 80rem;
        width: 100%;

        h1 {
            margin-top: 1rem;
        }
    }
}

.about-page-footer {}