.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .login-area,
    .signup-area {
        width: 100%;
        max-width: 500px;
    }

    .login-area {
        display: flex;
        flex-direction: column;
        background: #fff;
        gap: 1rem;
        padding: 5rem;
        border: 2px solid #c4c4c4;
        border-bottom: none;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        align-self: center;

        .login_header {
            text-align: center;
            font-size: 1.5rem;
        }

        label {
            font-weight: 100;
            font-size: 0.75rem;
            color: #999999;
            padding: 0 1rem;
        }

        input[type="email"] {
            margin-bottom: 1rem;
        }

        input[type="email"],
        input[type="password"] {
            height: 2rem;
            border-left: none;
            border-right: none;
            border-top: none;
            border-bottom: 1px solid #000;
            padding: 0 1rem;

            &:focus {
                outline: none;
                border-color: rgb(29, 183, 255);
            }
        }

        .forgot_pass {
            display: flex;
            justify-content: flex-end;

            a {
                color: #999999;
            }
        }

        .check_button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;
            margin-bottom: 3rem;

            button {
                font-size: 1rem;
                padding: 1rem 1.5rem;
                border: none;
                background: rgb(27, 221, 130);
                border-radius: 4px;
                color: #fff;
            }
        }
    }

    .signup-area {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #272626;
        padding: 1rem 5rem;
        border: 2px solid #272626;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;

        p {
            color: #c4c4c4;
            margin: 0;
            padding: 0;
        }

        span {
            a {
                color: #fff;
            }
        }
    }

}