.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;

    h1 {
        font-size: 1.75rem;
    }

    .category-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        gap: 1rem;

    }

}