.featured {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    .featured-car-container {
        display: inherit;
        flex-direction: inherit;
        position: relative;
        margin: auto;
    }
}

@media (min-width: 320px) {
    .featured {
        .featured-car-container {
            h1 {
                font-size: 1.5rem;
                align-self: self-start;
                margin-left: 0.5rem;

                .fc-sp-1 {
                    font-weight: 300;
                }

                .fc-sp-2 {
                    font-weight: 800;
                }
            }
        }
    }
}

@media (min-width: 475px) {
    .featured {
        .featured-car-container {
            h1 {
                font-size: 2rem;
                align-self: self-start;
                margin-left: 0;

                .fc-sp-1 {
                    font-weight: normal;
                }

                .fc-sp-2 {
                    font-weight: 100;
                }
            }
        }
    }
}

@media (min-width: 640px) {
    .featured {}
}

@media (min-width: 768px) {
    .featured {}
}

@media (min-width: 1024px) {
    .featured {}
}

@media (min-width: 1280px) {
    .featured {}
}

@media (min-width: 1536px) {
    .featured {}
}