.featured {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    .featured-car-container {
        display: inherit;
        flex-direction: inherit;
        position: relative;
        margin: auto;

        h1 {
            font-size: 2rem;
            align-self: self-start;

            span {
                font-weight: 300;
            }
        }
    }
}

@media (min-width: 320px) {
    .featured {}
}

@media (min-width: 475px) {
    .featured {}
}

@media (min-width: 640px) {
    .featured {}
}

@media (min-width: 768px) {
    .featured {}
}

@media (min-width: 1024px) {
    .featured {}
}

@media (min-width: 1280px) {
    .featured {}
}

@media (min-width: 1536px) {
    .featured {}
}