.header-container {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #ececec;
    margin-left: auto;
    margin-right: auto;
    z-index: 9999999999;

    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-weight: 500;

        .btn_mobile_nav {
            display: none;
            border: none;
            background: none;
        }

        // h1 {
        //     font-size: 1.5rem;
        //     font-weight: 600;

        //     .logo-text {
        //         text-decoration: none;
        //         color: #000;

        //         &:hover {
        //             text-decoration: underline;
        //         }
        //     }

        // }

        .header-nav-container {
            //display: none;

            nav {
                ul {
                    display: flex;
                    gap: 1rem;
                    list-style: none;

                    li {
                        a {
                            color: #000;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }



        button {
            padding: 0.5rem 1rem;
            border-radius: 8px;
        }
    }
}

@media (min-width: 320px) {
    .header-container {
        margin-top: 6rem;

        .main-header {
            padding: 1rem 1.5rem;

            .btn_mobile_nav {
                display: block;
            }

            .header-nav-container {
                display: none;
            }
        }
    }
}

@media (min-width: 475px) {
    .header-container {
        margin-top: 4rem;

        .main-header {
            padding: 1rem 3rem;

            .btn_mobile_nav {
                display: block;
            }

            .header-nav-container {
                display: none;
            }
        }
    }
}

@media (min-width: 640px) {
    .header-container {
        margin-top: 3rem;

        .main-header {
            padding: 1rem 5rem;

            .btn_mobile_nav {
                display: block;
            }

            .header-nav-container {
                display: none;
            }
        }
    }
}

@media (min-width: 768px) {
    .header-container {
        padding: 1rem 2rem;

        .main-header {
            .btn_mobile_nav {
                display: none;
            }

            .header-nav-container {
                display: block;
            }
        }
    }
}

@media (min-width: 1024px) {
    .header-container {
        .main-header {
            padding: 1rem 7rem;

            .btn_mobile_nav {
                display: none;
            }

            .header-nav-container {
                display: block;
            }
        }
    }
}

@media (min-width: 1280px) {
    .header-container {
        .main-header {
            padding: 1rem 7rem;

            .btn_mobile_nav {
                display: none;
            }

            .header-nav-container {
                display: block;
            }
        }
    }
}

@media (min-width: 1536px) {
    .header-container {
        .main-header {
            padding: 0.5rem 7rem;

            .car_logo {
                width: 200px;
            }

            .btn_mobile_nav {
                display: none;
            }

            .header-nav-container {
                display: block;
            }
        }
    }
}