.testimonial-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    background-color: rgb(233, 233, 233);
    width: 400px;
    padding: 2rem;
    margin-bottom: 2rem;
    z-index: 5;

    img {
        align-self: center;
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
    }

    .testimonial-card-details {
        display: inherit;
        flex-direction: inherit;
        justify-content: flex-start;
        align-items: self-start;

        .testimonial-first {
            padding: 0;

            h3 {
                text-align: left;
                font-weight: 900;
            }

            p {
                margin: 0;
                padding: 0;
            }
        }

        p {
            text-align: left;
            margin-top: 1rem;
        }

    }
}

@media (min-width: 320px) {
    .testimonial-card {
        width: 300px;
    }
}

@media (min-width: 475px) {
    .testimonial-card {
        width: 400px;
    }
}

@media (min-width: 640px) {
    .testimonial-card {
        width: 200px;
    }
}

@media (min-width: 768px) {
    .testimonial-card {
        width: 200px;
    }
}

@media (min-width: 1024px) {
    .testimonial-card {
        width: 300px;
    }
}

@media (min-width: 1280px) {
    .testimonial-card {
        width: 300px;
    }
}

@media (min-width: 1536px) {
    .testimonial-card {
        width: 300px;
    }
}