.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    border: 1px solid #000;

    .testimonials-container {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        h1 {
            align-self: flex-start;
            font-size: 1.75rem;
        }

        .testimonials-content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem;
        }
    }


}

@media (min-width: 320px) {
    .testimonials {
        .testimonials-container {
            .testimonials-content {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 1.5rem;
            }
        }
    }
}

@media (min-width: 475px) {
    .testimonials {
        .testimonials-container {
            .testimonials-content {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 1.5rem;
            }
        }
    }
}

@media (min-width: 640px) {
    .testimonials {
        .testimonials-container {
            .testimonials-content {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1.5rem;
            }
        }
    }
}

@media (min-width: 768px) {
    .testimonials {}
}

@media (min-width: 1024px) {
    .testimonials {}
}

@media (min-width: 1280px) {
    .testimonials {}
}

@media (min-width: 1536px) {
    .testimonials {}
}