.testimonial-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid red;
    width: 400px;
    padding: 2rem;
    margin-bottom: 2rem;

    img {
        align-self: center;
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
    }

    .testimonial-card-details {
        display: inherit;
        flex-direction: inherit;
        justify-content: flex-start;
        align-items: self-start;

        h3 {
            font-weight: 500;
        }

        p {
            text-align: left;
            margin-top: 1rem;
        }
    }
}

@media (min-width: 320px) {
    .testimonial-card {}
}

@media (min-width: 475px) {
    .testimonial-card {
        width: 400px;
    }
}

@media (min-width: 640px) {
    .testimonial-card {
        width: 200px;
    }
}

@media (min-width: 768px) {
    .testimonial-card {
        width: 200px;
    }
}

@media (min-width: 1024px) {
    .testimonial-card {
        width: 300px;
    }
}

@media (min-width: 1280px) {
    .testimonial-card {
        width: 300px;
    }
}

@media (min-width: 1536px) {
    .testimonial-card {}
}